*, *::before, *::after {
    box-sizing: border-box;
    font-family: Roboto Mono, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}

.calculator-workspace {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(150px, auto) repeat(5, 100px);
}

.calculator-workspace > button {
    cursor: url(Arrow.png), auto;
    font-size: 2rem;
    border: 1px solid #FFFFFF;
    outline: none;
    background-color: rgba(255, 255, 255, .80);
}

.calculator-workspace > button:hover {
    background-color: rgba(000, 170, 255, .95);
}

.span-2 {
    grid-column: span 2;
}

.output {
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10%;
    word-wrap: break-word;
    word-break: break-all;
}
.primary-operand {
color:rgba(255, 255, 255, .75);
font-size: 1.5rem;
}
.secondary-operand {
color:rgb(255, 255, 255);
font-size: 2.5rem;
}